<%- include("partials/header.ejs") %>
<h1>Create Post</h1>
<form action="/addPost" method="post">
  <input name="name" type="text" class="feedback-input" placeholder="Name" />
  <input name="title" type="text" class="feedback-input" placeholder="Title" />
  <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
  <input type="submit" value="SUBMIT" />
</form>
<%- include("partials/footer.ejs") %>